Name: Cooperative Launch
Version: 0.0.1
Entry Point: {{ data }}
File List:
    - {{ data }}
Exclude: {}
Types:
    Foo: Type
Data Models:
    Foo: StructModel
Cooperative Launch Required Functions Regex:
    - "cta_barrier"
