Name: Cooperative Launch Regex
Version: 0.0.1
Entry Point: {{ data }}
GPU Arch:
    - {{ arch_str }}
File List:
    - {{ data }}
Exclude: {}
Types:
    Foo: Type
Data Models:
    Foo: StructModel
Cooperative Launch Required Functions Regex:
    - ".*_barrier.*"
    - ".*_sync.*"
