Name: Test Data
Version: 0.0.1
Entry Point: {{ data }}
GPU Arch:
    - {{ arch_str }}
File List:
    - {{ data }}
Exclude: {}
Types:
    Foo: Type
Data Models:
    Foo: StructModel
Output Name: {{ output_name }}
