# SPDX-FileCopyrightText: Copyright (c) 2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
name: numbast
channels:
  - numba
  - conda-forge
  - nvidia
dependencies:
  - python={{ python_version }}
  - cmake>=3.29 # Allow overriding CMAKE_PREFIX_PATH and CMAKE_INSTALL_PREFIX
  - clangdev >=18,<22.0
  - numba-cuda >=0.21.0,<0.23.0
  - pybind11
  - pytest
  - pytest-benchmark
  - cffi
  - mypy
  - pre-commit
  - cxx-compiler
  - cuda-version={{ cuda_version }}
  - cuda-toolkit={{ cuda_version }}
  - cuda-python={{ cuda_version }}
  - scikit-build-core
  - pip
  - ninja
  - pyyaml
  - ruff
  - click
  - jinja2
  - sphinx
  - sphinx-copybutton
