on:
    workflow_call:
      inputs:
        build_type:
          required: true
          type: string
        branch:
          type: string
        date:
          type: string
        sha:
          type: string
        repo:
          type: string
        node_type:
          type: string
          default: "cpu8"
        script:
          type: string
          default: "ci/build_conda.sh"
        matrix_filter:
          type: string
          default: "."
        CPU:
          type: string
          default: "amd64"
        GPU:
          type: string
          default: "v100"

defaults:
    run:
      shell: bash

permissions:
    actions: read
    checks: none
    contents: read
    deployments: none
    discussions: none
    id-token: write
    issues: none
    packages: read
    pages: none
    pull-requests: read
    repository-projects: none
    security-events: none
    statuses: none

jobs:
    build:
      strategy:
        fail-fast: false
      runs-on: linux-${{ inputs.CPU }}-gpu-${{ inputs.GPU }}-latest-1
      env:
        RAPIDS_ARTIFACTS_DIR: ${{ github.workspace }}/artifacts
      container:
        image: rapidsai/ci-conda:cuda12.2.2-ubuntu22.04-py3.10
        env:
          RAPIDS_BUILD_TYPE: ${{ inputs.build_type }}
          PARALLEL_LEVEL: ${{ env.PARALLEL_LEVEL }}
      steps:
        - uses: actions/checkout@v4
          env:
            GIT_TRACE_PACKET: 1
            GIT_TRACE: 1
            GIT_CURL_VERBOSE: 1
          with:
            repository: ${{ inputs.repo }}
            ref: ${{ inputs.sha }}
            fetch-depth: 0
        - name: Standardize repository information
          run: |
            echo "REPOSITORY=${{ inputs.repo || github.repository }}" >> "${GITHUB_ENV}"
            echo "SHA=$(git rev-parse HEAD)" >> "${GITHUB_ENV}"
            echo "REF_NAME=${{ inputs.branch || github.ref_name }}" >> "${GITHUB_ENV}"
            echo "NIGHTLY_DATE=${{ inputs.date }}" >> "${GITHUB_ENV}"
        - name: Python build
          run: ${{ inputs.script }}
          env:
            GH_TOKEN: ${{ github.token }}
