# SPDX-FileCopyrightText: Copyright (c) 2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
name: pr
on:
  push:
    branches:
      - "pull-request/[0-9]+"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  pr-builder:
    needs:
      - checks
      - build-conda
      - test-conda
      - build-wheels
      - test-wheels
      - docs-preview
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@branch-24.10
  checks:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@branch-24.10
    with:
      enable_check_generated_files: false
  build-conda:
    name: Build Conda Python
    needs: checks
    secrets: inherit
    uses: ./.github/workflows/conda-python-build.yaml
    with:
      build_type: pull-request
  test-conda:
    name: Test Conda Python
    needs: build-conda
    secrets: inherit
    uses: ./.github/workflows/conda-python-test.yaml
    with:
      build_type: pull-request
  build-wheels:
    name: Build Wheels
    needs: checks
    secrets: inherit
    uses: ./.github/workflows/wheels-build.yaml
    with:
      build_type: pull-request
  test-wheels:
    name: Test Wheels
    needs: build-wheels
    secrets: inherit
    uses: ./.github/workflows/wheels-test.yaml
    with:
      build_type: pull-request
  docs-preview:
    name: Build Docs Preview
    needs:
      - test-conda
      - test-wheels
    secrets: inherit
    uses: ./.github/workflows/build-docs.yml
    with:
      is_release: false
      pr_number: ${{ replace(github.ref_name, 'pull-request/', '') }}
      download_artifacts: true
