# SPDX-FileCopyrightText: Copyright (c) 2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
name: Publish CONDA PKG
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-release
  cancel-in-progress: true
jobs:
  build-conda:
    uses: ./.github/workflows/conda-python-build.yaml
    secrets: inherit
    with:
      build_type: release
      script: "ci/build_conda_python.sh"
      upload_to_conda: false
  build-wheels:
    uses: ./.github/workflows/wheels-build.yaml
    secrets: inherit
    with:
      build_type: release
      upload_to_pypi: true
