# SPDX-FileCopyrightText: Copyright (c) 2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
name: Publish Python Packages
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-release
  cancel-in-progress: true
jobs:
  build-conda:
    uses: ./.github/workflows/conda-python-build.yaml
    secrets: inherit
    with:
      build_type: release
      script: "ci/build_conda_python.sh"
      upload_to_conda: true
  build-wheels:
    uses: ./.github/workflows/wheels-build.yaml
    secrets: inherit
    with:
      build_type: release
  upload-to-pypi:
    permissions:
      id-token: write
    needs: build-wheels
    runs-on: ubuntu-latest
    steps:
      - name: Download all wheels artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: pypi-wheels-*
          path: dist/
          merge-multiple: true
      - name: Publish packages to PyPi
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          verbose: true
