on:
  workflow_call:
    inputs:
      build_type:
        required: true
        type: string
      branch:
        type: string
      sha:
        type: string
      repo:
        type: string
      script:
        type: string
        default: "ci/test_wheels.sh"
      matrix_filter:
        type: string
        default: "."
defaults:
  run:
    shell: bash
permissions:
  actions: read
  checks: none
  contents: read
  deployments: none
  discussions: none
  id-token: write
  issues: none
  packages: read
  pages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: none
jobs:
  compute-matrix:
    runs-on: ubuntu-latest
    outputs:
      MATRIX: ${{ steps.compute-matrix.outputs.MATRIX }}
    steps:
      - name: Compute Build Matrix
        id: compute-matrix
        run: |
          set -eo pipefail

          # Please keep the matrices sorted in ascending order by the following:
          #
          #     [ARCH, PY_VER, CUDA_VER, LINUX_VER, GPU, DRIVER]
          #
          export MATRIX="
          # amd64
          - { ARCH: 'amd64', PY_VER: '3.13', CUDA_VER: '12.9.1', LINUX_VER: 'ubuntu24.04', GPU: 'l4', DRIVER: 'latest' }
          - { ARCH: 'amd64', PY_VER: '3.13', CUDA_VER: '13.0.1', LINUX_VER: 'ubuntu24.04', GPU: 'l4', DRIVER: 'latest' }
          "

          MATRIX="$(
            yq -n -o json 'env(MATRIX)' | \
            jq -c '${{ inputs.matrix_filter }} | if (. | length) > 0 then {include: .} else "Error: Empty matrix\n" | halt_error(1) end'
          )"

          echo "MATRIX=${MATRIX}" | tee --append "${GITHUB_OUTPUT}"
  build:
    name: ${{ matrix.ARCH }}, ${{ matrix.PY_VER }}, ${{ matrix.CUDA_VER }}, ${{ matrix.LINUX_VER }}, ${{ matrix.GPU }}
    needs: compute-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.compute-matrix.outputs.MATRIX) }}
    runs-on: "linux-${{ matrix.ARCH }}-gpu-${{ matrix.GPU }}-${{ matrix.DRIVER }}-1"
    env:
      RAPIDS_ARTIFACTS_DIR: ${{ github.workspace }}/artifacts
    container:
      image: nvidia/cuda:${{ matrix.CUDA_VER }}-${{ startsWith(matrix.CUDA_VER, '12') && 'devel' || 'base' }}-${{ matrix.LINUX_VER }}
      env:
        RAPIDS_BUILD_TYPE: ${{ inputs.build_type }}
        NVIDIA_VISIBLE_DEVICES: ${{ env.NVIDIA_VISIBLE_DEVICES }} # GPU jobs must set this container env variable
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repo }}
          ref: ${{ inputs.sha }}
          fetch-depth: 0
      - uses: actions/download-artifact@v4
        name: Download binary wheels
        with:
          name: pypi-wheels-${{ matrix.ARCH }}
          path: wheels
      - name: Setup proxy cache
        uses: nv-gha-runners/setup-proxy-cache@main
        continue-on-error: true
      - name: Ensure GPU is working
        run: nvidia-smi
      - name: Set up Python ${{ matrix.PY_VER }}
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ matrix.PY_VER }}
          allow-prereleases: true
        env:
          # Self-hosted runners where setup-python behaves weirdly...
          AGENT_TOOLSDIRECTORY: "/opt/hostedtoolcache"
      - name: Set environment variables
        env:
          CUDA_VER: ${{ matrix.CUDA_VER }}
          PY_VER: ${{ matrix.PY_VER }}
        run: |
          CUDA_MAJOR=${CUDA_VER%%.*}
          PY_VER_NO_DOT=${PY_VER//./}
          if [[ "${CUDA_MAJOR}" == "12" ]]; then
            echo "CUDA_HOME=/usr/local/cuda" >> $GITHUB_ENV
          fi
          echo "CUDA_MAJOR=${CUDA_MAJOR}" >> $GITHUB_ENV
          echo "PY_VER_NO_DOT=${PY_VER_NO_DOT}" >> $GITHUB_ENV
      - name: Install C++ dependencies (LLVM)
        run: |
          apt update
          apt install --no-install-recommends --quiet -y \
            libclang-common-20-dev \
            libstdc++-14-dev
      - name: Install Python dependencies
        run: |
          # FIXME: Hardcoded versions right now, will use parameters later
          python -m pip install --upgrade pip
          python -m pip install wheels/ast_canopy*-cp${PY_VER_NO_DOT}-*.whl
          for wheel in wheels/numbast*.whl; do
            python -m pip install "$wheel[test-cu${CUDA_MAJOR}]"
          done
      - name: Test ast_canopy wheels
        run: |
          python -m pytest ast_canopy/tests
      - name: Test numbast wheels
        run: |
          python -m pytest numbast/
